In this notebook, I am working with the World Dataset, specifically focusing on laguage diversity data. The data already extracted using SQL queries includes non-available and null values that need to be cleaned during the data cleaning process. The aim of this notebook is to display learnings from the extracted data using the Matplotlib library.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [35]:
data = pd.read_csv(r"C:\Users\sorin.creanga\Desktop\Visualisations\luanguage_diversity_csv.csv",index_col = 0)
data.head()
data

,Continent,TotalLanguagesSpoken,PrimaryOfficialLanguage,AvgLanguageSpread
CountryName,,,,
Aruba,North America,4,Dutch,24.73
Afghanistan,Asia,5,Pashto,19.22
Angola,Africa,9,NaN,10.60
Anguilla,North America,1,English,0.00
Albania,Europe,3,Albaniana,33.27
...,...,...,...,...
Yemen,Asia,2,Arabic,49.80
Yugoslavia,Europe,6,Serbo-Croatian,16.28
South Africa,Africa,11,Zulu,8.95
Zambia,Africa,6,NaN,10.82
Zimbabwe,Africa,4,English,23.18

In [58]:
data_prim_lang_empty = data[data["PrimaryOfficialLanguage"].isna()]
continent_counts = data_prim_lang_empty["Continent"].value_counts()